<div>
    <h4>{{ 'settings' | translate }}</h4>

    <div class="col my-3">
        <div class="mb-2">{{ 'currentUnit' | translate }}</div>
        <div class="list-group list-group-horizontal col-4 text-center">
            <button *ngFor="let unit of units.asList()" class="list-group-item list-group-item-action"
                [class.active]="currentUnit === unit" [disabled]="currentUnit === unit"
                (click)="changeUnit(unit)" [title]="unit.value">
                {{unit.label}}
            </button>
        </div>
    </div>

    <div class="col my-3">
        <div class="mb-2">{{ 'currentLang' | translate }}</div>
        <div class="list-group list-group-horizontal col-4 text-center">
            <button *ngFor="let lang of translateService.langs" class="list-group-item list-group-item-action"
                [class.active]="translateService.currentLang === lang" (click)="changeLang(lang)"
                [disabled]="translateService.currentLang === lang">
                {{lang | uppercase}}
            </button>
        </div>
        <p class="font-weight-light mt-2" style="font-size: 0.6rem;">
            Note: Dutch texts were retrieved from Google Translate :)
            so, sorry if I said something weird between the lines.
        </p>
    </div>

</div>