<div>
    <h3 class="mb-3">Cities</h3>

    <div class="row">
        <div class="col" *ngFor="let model of cities">
            <div class="card">
                <div class="card-body">
                    <span class="card-title">
                        <span class="h5 font-weight-bold">{{model.city.name}}</span>. {{model.city.country}}
                    </span>

                    <div class="card-text" *ngIf="model.weather">
                        <div>
                            <img [src]="iconUrl + model.weather.weather[0].icon + '.png'"
                                [title]="model.weather.weather[0].description" />
                        </div>
                        <div>Temperature: <span>{{model.weather.main.temp | temperature}}</span></div>
                        <div>Feels like: <span>{{model.weather.main.feels_like | temperature}}</span></div>
                    </div>
                    
                    <a class="btn btn-sm btn-info float-right mt-3" routerLink="/cities/{{model.city.id}}">
                        More details<i class="fas fa-chevron-right ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>