<div class="col">
    <div *ngIf="weather" class="row">
        <a class="text-info mr-3 my-auto" style="cursor: pointer;" (click)="goToOverview()">
            <i class="fas fa-lg fa-chevron-left"></i>
        </a>
        <span><span class="h4">{{weather.name}}</span>.
            <span>{{weather.sys.country}}</span>
            <img [src]="iconUrl + weather.weather[0].icon + '.png'" [title]="weather.weather[0].description" />
        </span>
    </div>

    <div class="row mt-4">
        <div class="col">
            <nav class="nav nav-tabs nav-fill">
                <a *ngFor="let tab of tabs" class="nav-item nav-link btn text-primary"
                    [ngClass]="{ 'active text-dark' : activeTab === tab }" (click)="changeTab(tab)">{{ tab.name | translate }}</a>
            </nav>

            <div class="my-4">
                <ng-template appDynamicComponent></ng-template>
            </div>
        </div>
    </div>
</div>