<div class="row">
    <div class="col-6">
        <h5>{{ 'information' | translate }}</h5>
        <div class="row">
            <div class="col">
                <div class="pl-3">{{ 'temperature' | translate }}</div>
                <div class="pl-3">{{ 'feelsLike' | translate }}</div>
                <div class="pl-3">{{ 'pressure' | translate }}</div>
                <div class="pl-3">{{ 'humidity' | translate }}</div>
                <div class="pl-3">{{ 'minTemp' | translate }}</div>
                <div class="pl-3">{{ 'maxTemp' | translate }}</div>
            </div>
            <div class="col">
                <div>{{model.main.temp | temperature}}</div>
                <div>{{model.main.feels_like | temperature}}</div>
                <div>{{model.main.pressure}} hPa</div>
                <div>{{model.main.humidity}}%</div>
                <div>{{model.main.temp_min | temperature}}</div>
                <div>{{model.main.temp_max | temperature}}</div>
            </div>
        </div>
    </div>
</div>