<div class="row">
    <div class="col">
        <h5>{{ 'conditions' | translate }}</h5>
        <div class="row">
            <div class="col-4">
                <div class="pl-3">{{ 'description' | translate }}</div>
                <div class="pl-3">{{ 'visibility' | translate }}</div>
                <div class="pl-3">{{ 'clouds' | translate }}</div>
                <div class="pl-3">{{ 'rainVolume' | translate }}</div>
                <div class="pl-3">{{ 'snowVolume' | translate }}</div>
            </div>
            <div class="col">
                <div>{{model.weather[0].main}} - {{model.weather[0].description}}</div>
                <div>{{model.visibility | blank:('na' | translate)}}</div>
                <div>{{model.clouds && model.clouds.all + '%' | blank:('na' | translate)}}</div>
                <div>{{model.rain && model.rain['1h'] + ' mm' | blank:('na' | translate)}}</div>
                <div>{{model.snow && model.snow['1h'] + ' mm' | blank:('na' | translate)}}</div>
            </div>
        </div>

        <div class="row mt-4">
            <h5 class="col-4">{{ 'calculationDate' | translate }}</h5>
            <div class="col">{{model.dt * 1000 | date:'medium'}} (UTC)</div>
        </div>
    </div>
</div>