<div class="row">
    <div class="col-4">
        <h5>{{ 'coordinates' | translate }}</h5>
        <div class="row">
            <div class="col">
                <div class="pl-3">{{ 'latitude' | translate }}</div>
                <div class="pl-3">{{ 'longitude' | translate }}</div>
            </div>
            <div class="col">
                <div>{{model.coord.lat}}</div>
                <div>{{model.coord.lon}}</div>
            </div>
        </div>

        <div class="row mt-4">
            <h5 class="col">{{ 'timeZone' | translate }}</h5>
            <div class="col">{{model.timezone | timezone}}</div>
        </div>
    </div>
</div>